*{
    margin: :0;
}
body, html {
    height: 100%;
    width:100%;
    margin: 0;
}

.parallax { 
    /* The image used */
    background-color: #000000;

    /* Full height */
    height: 100%;
    width:100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#workshop{
    height:100%;
    background-color: #111111;
    color:#FFFFFF;
}

#event{
    color:#FFFFFF;
}

#workshop #circle{
    border-radius: 50%;
    width:45vh;
    height: 45vh;
    border: solid 1px #555;
        background-color: #eed;
        box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
        -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
        -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
        -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}


#event #circle{
    border-radius: 50%;
    width:45vh;
    height: 45vh;
    border: solid 1px #555;
        background-color: #eed;
        box-shadow:  0 0 10px 5px rgba(17, 17, 17, 1);
        -moz-box-shadow: 0 0 10px  5px rgba(17, 17, 17, 1);
        -webkit-box-shadow: 0 0 10px 5px rgba(17, 17, 17, 1);
        -o-box-shadow: 0 0 10px 5px rgba(17, 17, 17, 1);
}

#content{
    display: block;
    margin:auto;
    height: auto;
    width: 80vh;
    z-index:101;
    border-radius: 5%;
    border: solid 1px #555;
        background-color: #eed;
        box-shadow:  0 0 10px 5px rgba(17, 17, 17, 1);
        -moz-box-shadow: 0 0 10px  5px rgba(17, 17, 17, 1);
        -webkit-box-shadow: 0 0 10px 5px rgba(17, 17, 17, 1);
        -o-box-shadow: 0 0 10px 5px rgba(17, 17, 17, 1);
}

#workshop #circle:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#event #circle:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#about{
    height:100%;
    background-color: #111111;
    color:#FFFFFF;
    width:100%;
}

.divide{
    background-color:white;
    width:95%;
    height: 0.25%;
    border-radius: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}



.about-heading{

    font-size: 2.5vw;

}

.about-content{

    font-size: 1.25vw;

}

.container{
    padding: 5vh;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#content{
    
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      height: auto;
      margin: auto;
  }

@media only screen and (max-device-width: 727px) {
    *{
        margin:0;
        width:100%;
    }
    #home{
        height:100%;
    }
    .parallax {
        background-attachment: scroll;
        height: auto;
        margin:0;
    }

    #workshop{
        height: auto;
    }

    #event{
        height:auto;
    }
    #about{
        height:auto;
    }
}
